/* border: 5px solid black; */

@font-face {
	font-family: "Eglantine";
	src: url("/font/eglantine.ttf");
}

@font-face {
	font-family: "LittleLordFontleroy";
	src: url("/font/LittleLordFontleroy.ttf");
}

@font-face {
	font-family: "CooperBlack";
	src: url("/font/CooperBlack.ttf");
}

@font-face {
	font-family: "GreatVibes";
	src: url("/font/GreatVibes-Regular.ttf");
}

@font-face {
	font-family: "Sorai";
	src: url("/font/sorai_regular.ttf");
}

@font-face {
	font-family: "Kaylani";
	src: url("/font/Kaylani.ttf");
}

* {
	scrollbar-color: rgba(27, 17, 29, 0.5) transparent;
}

html {
	height: 100%;
}

body {
	margin: 0;
	background-image: url("../img/pink_background.jpg");
	height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
}

.clickable {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.2s ease-in-out;
}

.clickable:hover {
	box-shadow: 3px 3px;
	background-color: rgba(163, 124, 136, 0.9);
	transform: translate(-3px, -3px);
}

.clickable:active {
	transform: translate(0px, 0px);
	box-shadow: 0px 0px;
	transition: all 0.05s ease-in-out;
}

/* CONTAINER PREVIEW */

#container-preview {
	visibility: hidden;
	display: flex;
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#img-preview {
	max-width: 0%;
	max-height: 90%;
	object-fit: contain;
}

/* CONTAINER LEFT */

#container-left {
	display: flex;
	position: relative;
	left: -100%;
	z-index: 3;
	transition: left 0.75s;
}

#container-left ul {
	margin-top: 0;
	background: rgba(243, 192, 247, 0.9);
	height: 100vh;
	position: fixed;
}

#cart_menu {
	position: fixed;
	bottom: 10px;
	right: -100%;
}

#counter_menu {
	position: absolute;
	font-size: 10pt;
	font-family: "CooperBlack";
	background-color: rgb(236, 201, 207, 0.8);
	overflow: hidden;
	border: 1px black solid;
	margin: 2px;
	padding: 1px;
}

.menu-class {
	display: flex;
	margin: 6px;
	background-color: rgba(219, 163, 173, 0.9);
}

.menu-class p {
	text-align: center;
	font-family: "LittleLordFontleroy";
	font-size: 30pt;
	margin: 10px;
}

.menu-icon {
	width: 6vh;
	max-width: 100px;
}

/* MENU CONTAINER */

#container-menu {
	position: absolute;
	display: flex;
	margin-left: 3vw;
	height: calc(12vw + 15px);
	z-index: 1;
	align-items: center;
	transition: opacity 0.5s;
}

#open-menu {
	max-height: 25%;
	min-height: 45px;
}

#open-menu:hover {
	background-color: rgba(21, 15, 17, 0.1);
}

/* CONTAINER RIGHT */

#container-right {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	transition: opacity 0.5s;
}

/* HEADER */

#container-title {
	display: flex;
	justify-content: center;
	background-color: rgb(240, 248, 255, 0.5);
	flex: none;
}

#title_icon {
	height: 12.5vw;
	margin: 5px;
}

#container-title h1 {
	font-family: "Eglantine";
	font-weight: 100;
	margin-top: 0px;
	font-size: 7vw;
	margin: 5px;
}

/* BANNER */

#container-banner {
	position: sticky;
	justify-content: center;
	animation: pulse 3.5s infinite;
	margin: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	display: flex;
	flex: none;
}

@keyframes pulse {
	0%,
	100% {
		background-color: rgba(222, 174, 230, 0.85);
	}
	50% {
		background-color: rgba(148, 115, 225, 0.85);
	}
}

#container-banner pre {
	font-family: "CooperBlack";
	font-size: max(1.8vw, 15pt);
	color: rgb(42, 28, 30);
	margin: 10px;
	text-wrap: wrap;
}

/* MAIN */

#container-main {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	transition: all 0.5s;
	flex: 1;
}

main {
	margin: 10px;
}

/* ABOUT */

#about {
	display: none;
	flex-direction: column;
}

#slideshow {
	display: flex;
	overflow-x: scroll;
	margin-bottom: 20px;
	gap: 10px;
}

.slideshow-image {
	height: min(50vh, 80vw);
}

#about blockquote {
	text-align: center;
	font-family: "Kaylani";
	font-size: clamp(12pt, 2vw, 18pt);
	line-height: clamp(24pt, 4vw, 36pt);
	margin: 0;
}

/* DOLLS */

#mydolls {
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.dolls_img {
	margin: 4%;
	flex-basis: 40%;
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
}

.dolls_img img {
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	object-fit: cover;
}

.dolls_img pre {
	width: 100%;
	opacity: 0;
	position: absolute;
	font-size: clamp(9pt, 3vw, 15pt);
	transition: all 0.5s;
	text-wrap: wrap;
}

.dolls_img:hover img {
	transform: scale(0.8);
	opacity: 0.15;
}

.dolls_img:hover pre {
	opacity: 1;
	font-size: clamp(12pt, 4vw, 20pt);
}

/* CLOTHES */
/* ACCESSORIES */

#clothes {
	display: none;
	flex-direction: column;
	gap: 10px;
}

#accessories {
	flex-direction: column;
	display: none;
	gap: 10px;
}

.sale-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.label-name {
	position: absolute;
	font-size: max(9vh, 8vw);
	font-family: "LittleLordFontleroy";
	z-index: 1;
}

.sale-thumbnails {
	display: flex;
	gap: 2vw;
	flex-direction: row;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
}

.sale-thumbnails img {
	height: min(30vh, 30vw);
	aspect-ratio: 1;
	object-fit: cover;
	animation: pulse2 1s infinite alternate;
	transition: height 1s;
}

@keyframes pulse2 {
	0% {
		opacity: 0.4;
		transform: scale(1);
	}
	100% {
		opacity: 0.2;
		transform: scale(0.9);
	}
}

.toggle {
	display: none;
}

.toggle:checked ~ label .sale-thumbnails img {
	height: max(9vh, 8vw);
	animation: pulse2 1s forwards;
}

.toggle:checked ~ label .sale-thumbnails {
	opacity: 0;
}

.toggle:checked ~ .sale-items .sale-item {
	max-height: 100vh;
	margin-top: 10px;
	margin-bottom: 10px;
}

.toggle:checked ~ .sale-items .sale-item .counter {
	max-height: 200px;
	padding: 3px;
	margin: 5px;
	border: 3px black solid;
}

/* selling items */

.sale-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.sale-item {
	flex: 1;
	position: relative;
	max-height: 0;
	display: flex;
	transition: all 1s;
}

.sale-item:hover {
	box-shadow: 1.5px 1.5px;
	background-color: rgba(21, 15, 17, 0.1);
}

.counter {
	visibility: hidden;
	position: absolute;
	font-size: 20pt;
	font-family: "CooperBlack";
	background-color: rgb(236, 201, 207, 0.8);
	overflow: hidden;
	border: 0px black solid;
	max-height: 0;
	margin: 0;
	padding: 0;
	transition: all 1s;
}

.sale-picture {
	max-height: max(17.5vw, 17.5vh);
	aspect-ratio: 1;
	object-fit: cover;
}

.sale-item p {
	margin: 5px;
	flex: 1;
	max-height: max(17.5vw, 17.5vh);
	overflow: auto;
}

.buy_icon {
	width: 40px;
	flex: none;
}

@keyframes scale_up {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
}

@keyframes scale_down {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.75);
	}
}

/* CART */

#cart {
	display: none;
	flex-direction: row;
}

/* FOOTER */

#container-footer {
	display: flex;
	text-align: center;
	justify-content: center;
	flex: none;
}

footer li {
	display: inline;
	margin: 10px;
}

/* DARK THEME */
/* 
@media (prefers-color-scheme: dark) {
	body {
		background-image: url("../img/dark_pink_background.jpg");
		color: white;
	}
} */
