@font-face {
    font-family: "Eglantine";
    src: url("/font/eglantine.ttf");
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url("../img/pink_background.jpg");
}

.container {
    display: flex;
    min-height: 100vh;
    overflow: visible;
}

.container-left {
    width: 10%;
    max-width: 80px;
    display: flex;
    background-color: #a14343;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container-header {
    display: flex;
    justify-content: center;
}

header img {
    float: left;
    margin-top: 5px;
    width: 23vw;
    height: 18vw;
}

header h1 {
    float: left;
    font-family: "Eglantine";
    font-weight: 100;
    margin-top: 5px;
    font-size: 10vw;
}

.container-main {
    display: flex;
    flex: 1;
    margin: 5px;
}

.container-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

footer li {
    display: inline-block;
}