/* border: 5px solid black; */

@font-face {
	font-family: "Eglantine";
	src: url("/font/eglantine.ttf");
}

@font-face {
	font-family: "LittleLordFontleroy";
	src: url("/font/LittleLordFontleroy.ttf");
}

@font-face {
	font-family: "CooperBlack";
	src: url("/font/CooperBlack.ttf");
}

* {
	scrollbar-color: rgba(27, 17, 29, 0.2) transparent;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/pink_background.jpg");
	display: flex;
	flex-direction: row;
	min-height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
}

/* CONTAINER LEFT */

#container-left {
	display: flex;
	left: -100%;
	z-index: 2;
}

#container-left p {
	text-align: center;
	font-family: "LittleLordFontleroy";
	font-size: 30pt;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

#container-left img {
	width: 6vh;
	max-width: 100px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#container-left ul {
	margin-top: 0;
	background: rgba(225, 192, 247, 0.9);
	border-right: 0.2vw solid rgb(220, 151, 163);
	height: 100vh;
	position: fixed;
}

#cart_menu {
	position: fixed;
	bottom: 10px;
	border-radius: 10px;
}

.menu-icons {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: rgb(220, 151, 163, 0.9);
}

/* MENU CONTAINER */

#container-menu {
	left: 0;
	top: 0;
	max-height: calc(12vw + 15px);
	z-index: 1;
	max-width: 15%;
}

#menu_icon {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	max-height: 25%;
	margin-left: 2vw;
	min-height: 45px;
}

/* CONTAINER RIGHT */

#container-right {
	position: absolute;
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* HEADER */

#container-header {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: rgb(240, 248, 255, 0.5);
}

#title_icon {
	margin-top: 5px;
	float: left;
	width: 15vw;
	height: 12vw;
	margin-right: 2vw;
	margin-bottom: 5px;
}

#container-header h1 {
	float: left;
	font-family: "Eglantine";
	font-weight: 100;
	margin-top: 0px;
	font-size: 7vw;
	margin-bottom: 0px;
}

/* MAIN */

#container-main {
	display: flex;
	flex: auto;
	margin: 5px;
}

#banner {
	background-color: rgba(222, 174, 230, 0.5);
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0%,
	100% {
		background-color: rgba(222, 174, 230, 0.5);
	}
	50% {
		background-color: rgba(121, 72, 233, 0.5);
	}
}

#banner p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: CooperBlack;
	font-size: 20pt;
	text-align: center;
	color: rgb(84, 48, 53);
}

#about {
	display: none;
	flex-direction: column;
}

#slideshow {
	display: flex;
	overflow-x: scroll;
	width: fit-content;
}

.slideshow-image {
	height: 50vw;
	max-height: 400px;
	max-width: 100%;
	margin: 5px;
}

#dolls {
	display: none;
}

#clothes {
	display: none;
}

#accessories {
	display: none;
}

#cart {
	display: none;
}

/* FOOTER */

#container-footer {
	display: flex;
	justify-content: center;
	text-align: center;
	flex: none;
}

footer li {
	display: inline;
	margin: 5px;
}

/* ANIMATION */

.animate_slide {
	position: relative;
	transition: all 0.4s ease-in-out;
}

/* MOBILE SETTINGS */

@media (max-width: 800px) {
	#banner p {
		font-size: 12pt;
	}
}
